<header class="header">

    <div class="content">
        <a href="/">
            <img class="logo" src="/assets/header/logo.png" alt="Adflex Global Payment Processing"/>
        </a>
        <ul>
            <li>
                <a class="menu-link link" href="#">
                    <%= erb :'svg/menu' %>
                    <span class="offscreen-text">Open Menu</span>
                </a>
            </li>
            <li>
                <a class="search-link link" href="#">
                    <%= erb :'svg/search' %>
                    <!--<img class="search-image" src="/assets/header/search-icon.png" height="38" width="38" alt="Search"/>-->
                </a>
            </li>
        </ul>
        <%= erb :'header/main_navigation' %>
        <%= erb :'header/header_background' %>
        <%= erb :'header/header_search' %>
    </div>
</header>