<div class="page news-page">
    <%= erb :'news/news_hero' %>
    <%= erb :news_menu %>
    <%= erb :'news/latest_news' %>
    <%= erb :'news/publications' %>
    <%= erb :'news/videos' %>
    <%= erb :'news/media_center' %>
</div>
