<div class="disc-switcher">
    <ul class="disc-list">
        <li class="disc-item selected maroon">
            <h2>
                <a class="disc-link link" href="#">
                    <span class="link-text">Company Overview</span>
                    <%= erb :'svg/company_overview' %>
                    <span class="connector-line"></span></a>
            </h2>

            <div class="container truncated">
                <div class="disc-content">
                    <h3 class="content-header">Company Overview</h3>
                    <a href="#" class="close-link">
                        <%= erb :'svg/next_trans' %>
                        <span class="offscreen-text">Close</span>
                    </a>

                    <p class="intro">More and more buyers are looking for innovative ways of paying their suppliers by card</p>

                    <p class="para">At <span class="strong">Adflex</span>, we can carry out numerous effective campaigns, which will ensure that
                        your suppliers are accepting your car d payments as quickly as possible. By using a combination of processes
                        we can quickly asses your suppliers’ card acceptance capability and advise them on what they need to do.</p>

                    <p class="para">Each campaign has its own customised supplier portal, giving information to your customers about what you
                        require of them and how Adflex will make this simple for them.</p>

                    <p class="para">Our extensive card enabled supplier network, built over the last 10 years, offers a fast track route to any
                        partner that needs to complete the payment circle.</p>
                    <ul>
                        <li class="button-item">
                            <a class="purple-button-link link" href="#">Download the brochure</a>
                        </li>
                    </ul>

                </div>
                <a href="#" class="white-button-link read-more-link link">
                    Read more
                </a>
            </div>
        </li>
        <li class="disc-item purple">
            <h2>
                <a class="disc-link link" href="#">
                    <span class="link-text">Accreditations</span>
                    <%= erb :'svg/accreditations' %>
                    <span class="connector-line"></span>
                </a>

            </h2>

            <div class="container">
                <div class="disc-content">
                    <h3 class="content-header">Accreditations</h3>
                    <a href="#" class="close-link">
                        <%= erb :'svg/next_trans' %>
                        <span class="offscreen-text">Close</span>
                    </a>

                    <p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

                    <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                        nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                        anim id est laborum.</p>

                    <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                        nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                        anim id est laborum.</p>
                    <ul>
                        <li class="button-item">
                            <a class="white-button-link link" href="#">Apply now</a>
                        </li>
                        <li class="button-item">
                            <a class="white-button-link link" href="#">Request a call</a>
                        </li>
                    </ul>

                </div>
                <a href="#" class="white-button-link read-more-link link">
                    Read more
                </a>
            </div>
        </li>
        <li class="disc-item purple">
            <h2>
                <a class="disc-link link" href="#">
                    <span class="link-text">Our customers</span>
                    <%= erb :'svg/our_customers' %>
                    <span class="connector-line"></span>
                </a>

            </h2>

            <div class="container">
                <div class="disc-content">
                    <h3 class="content-header">Our customers</h3>
                    <a href="#" class="close-link">
                        <%= erb :'svg/next_trans' %>
                        <span class="offscreen-text">Close</span>
                    </a>

                    <p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

                    <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                        nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                        anim id est laborum.</p>

                    <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                        nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                        anim id est laborum.</p>
                    <ul>
                        <li class="button-item">
                            <a class="white-button-link link" href="#">Apply now</a>
                        </li>
                        <li class="button-item">
                            <a class="white-button-link link" href="#">Request a call</a>
                        </li>
                    </ul>

                </div>
                <a href="#" class="white-button-link read-more-link link">
                    Read more
                </a>
            </div>
        </li>
    </ul>
</div>
