<div class="disc-switcher">
    <ul class="disc-list">
        <li class="disc-item selected purple">
            <h2>
                <a class="disc-link link" href="#">
                    <span class="link-text">Online payments</span>
                    <%= erb :'svg/online_payments' %>
                    <span class="connector-line"></span></a>
            </h2>

            <div class="container truncated">
                <div class="disc-content">
                    <h3 class="content-header pay-page-header">
                        <%= erb :'svg/online_payments' %>
                        <span class="text">Pay Page</span>
                    </h3>
                    <a href="#" class="close-link">
                        <%= erb :'svg/next_trans' %>
                        <span class="offscreen-text">Close</span>
                    </a>

                    <p class="introduction">Quickly and easily integrate card payments into your web site. Our
                        <span class="strong">Pay Page</span>
                        service allows the secure capture of customer card details on a web page that is provided and
                        hosted by Adflex. Meaning the merchant is shielded from card details and therefore avoiding data
                        security risks to your business.</p>

                    <h4 class="content-sub-title">How does it work</h4>

                    <p class="para">Our Pay Page solutions offer a range of customisation to suit your needs, and are
                        all built to ensure a minimal amount of coding and development is required to integrate into
                        your website.</p>
                    <%= erb :'taking_payments/action_list' %>
                    <h4 class="content-sub-title">All payment types accepted</h4>

                    <p class="para">Adflex support all the card types your acquiring bank supports including level 3
                        purchasing cards.</p>
                    <img class="credit-card-image" src="/assets/taking-payments/credit-card.png" alt="Visa"/>
                    <img class="credit-card-image" src="/assets/taking-payments/credit-card.png" alt="MasterCard"/>
                    <img class="credit-card-image" src="/assets/taking-payments/credit-card.png" alt="American Express"/>
                    <p class="para">
                        <a class="link view-all-link" href="#">View all</a>
                    </p>

                    <ul>
                        <li class="button-item">
                            <a class="white-button-link link" href="#">Apply now</a>
                        </li>
                        <li class="button-item">
                            <a class="white-button-link link" href="#">Request a call</a>
                        </li>
                    </ul>

                </div>
                <a href="#" class="white-button-link read-more-link link">
                    Read more
                </a>
            </div>
        </li>
        <li class="disc-item pink">
            <h2>
                <a class="disc-link link" href="#">
                    <span class="link-text">Phone payments</span>
                    <%= erb :'svg/phone_payments' %>
                    <span class="connector-line"></span>
                </a>

            </h2>

            <div class="container">
                <div class="disc-content">
                    <h3 class="content-header">Phone Payments</h3>
                    <a href="#" class="close-link">
                        <%= erb :'svg/next_trans' %>
                        <span class="offscreen-text">Close</span>
                    </a>

                    <p class="introduction">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

                    <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea
                        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                        eu fugiat
                        nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                        deserunt mollit
                        anim id est laborum.</p>

                    <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea
                        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                        eu fugiat
                        nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                        deserunt mollit
                        anim id est laborum.</p>
                    <ul>
                        <li class="button-item">
                            <a class="white-button-link link" href="#">Apply now</a>
                        </li>
                        <li class="button-item">
                            <a class="white-button-link link" href="#">Request a call</a>
                        </li>
                    </ul>

                </div>
                <a href="#" class="white-button-link read-more-link link">
                    Read more
                </a>
            </div>
        </li>
        <li class="disc-item pink">
            <h2>
                <a class="disc-link link" href="#">
                    <span class="link-text">Our customers</span>
                    <%= erb :'svg/integrated_payments' %>
                    <span class="connector-line"></span>
                </a>

            </h2>

            <div class="container">
                <div class="disc-content">
                    <h3 class="content-header">Our customers</h3>
                    <a href="#" class="close-link">
                        <%= erb :'svg/next_trans' %>
                        <span class="offscreen-text">Close</span>
                    </a>

                    <p class="introduction">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

                    <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea
                        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                        eu fugiat
                        nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                        deserunt mollit
                        anim id est laborum.</p>

                    <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea
                        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                        eu fugiat
                        nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                        deserunt mollit
                        anim id est laborum.</p>
                    <ul>
                        <li class="button-item">
                            <a class="white-button-link link" href="#">Apply now</a>
                        </li>
                        <li class="button-item">
                            <a class="white-button-link link" href="#">Request a call</a>
                        </li>
                    </ul>

                </div>
                <a href="#" class="white-button-link read-more-link link">
                    Read more
                </a>
            </div>
        </li>
    </ul>
</div>
