<div class="video-results">
    <h2 class="sub-title">Search results: <span class="strong">Demo videos</span></h2>
    <ul class="video-results-list">
        <li class="video-item">
            <a class="link" href="#">
                <span class="icon-container">
                    <%= erb :'svg/home' %>
                </span>
                <span class="link-text">How to process a level 1 sale</span>
                <%= erb :'svg/play' %>
            </a>
        </li>
        <li class="video-item">
            <a class="link" href="#">
                <span class="icon-container">
                    <%= erb :'svg/home' %>
                </span>
                <span class="link-text">How to process a level 3 Visa processing card</span>
                <%= erb :'svg/play' %>
            </a>
        </li>
        <li class="video-item">
            <a class="link" href="#">
                <span class="icon-container">
                    <%= erb :'svg/home' %>
                </span>
                <span class="link-text">How to process a level 3 MasterCard purchasing card</span>
                <%= erb :'svg/play' %>
            </a>
        </li>
    </ul>
</div>
