<div class="video-results">
    <h2>Search results: Demo videos</h2>
    <ul>
        <li>
            <a href="#">
                <%= erb :'svg/home' %>
                <span>How to process a level 1 sale</span>
                <%= erb :'svg/play' %>
            </a>
        </li>
        <li>
            <a href="#">
                <%= erb :'svg/home' %>
                <span>How to process a level 3 Visa processing card</span>
                <%= erb :'svg/play' %>
            </a>
        </li>
        <li>
            <a href="#">
                <%= erb :'svg/home' %>
                <span>How to process a level 3 MasterCard purchasing card</span>
                <%= erb :'svg/play' %>
            </a>
        </li>
    </ul>
</div>
