<div class="action-list">
    <h2 class="section-title">Choose one of the following:</h2>
    <ul>
        <li class="action-item">
            <a class="link" href="#">
                <%= erb :'svg/web' %>
                <span class="action-title">AGP Web Services</span>
            </a>
        </li>
        <li class="action-item">
            <a class="link" href="#">
                <%= erb :'svg/e_commerce' %>
                <span class="action-title">Lorem ipsum</span>
            </a>
        </li>
        <li class="action-item">
            <a class="link" href="#">
                <%= erb :'svg/client_ipa' %>
                <span class="action-title">Lorem ipsum</span>
            </a>
        </li>
        <li class="action-item">
            <a class="link" href="#">
                <%= erb :'svg/chip_and_pin' %>
                <span class="action-title">Lorem ipsum</span>
            </a>
        </li>
        <li class="action-item">
            <a class="link" href="#">
                <%= erb :'svg/enhanced_data' %>
                <span class="action-title">Lorem ipsum</span>
            </a>
        </li>
        <li class="action-item">
            <a class="link" href="#">
                <%= erb :'svg/video_demo' %>
                <span class="action-title">Lorem ipsum</span>
            </a>
        </li>
    </ul>
</div>
