<div class="showcase">
    <h2 class="sub-title">How can we help you?</h2>
    <ul>
        <li class="showcase-item">
            <a href="#" class="link taking-payments-link">
                <div class="container">
                    <%= erb :'homepage/showcase/hand' %>
                    <%= erb :'homepage/showcase/mobile' %>
                    <%= erb :'homepage/showcase/waves' %>
                </div>
                <span class="link-text">
                    <span class="block-on-desktop">Taking</span>
                    <span class="block-on-desktop">payments</span>
                </span>
                <%= erb :'svg/next' %>
            </a>
        </li>
        <li class="showcase-item">
            <a href="#" class="link online-solution-link">
                <div class="container">
                    <%= erb :'homepage/showcase/gear_one' %>
                    <%= erb :'homepage/showcase/world_payments' %>
                    <%= erb :'homepage/showcase/gear_two' %>
                    <%= erb :'homepage/showcase/lock' %>
                    <%= erb :'homepage/showcase/gear_three' %>
                    <%= erb :'homepage/showcase/chip' %>
                </div>
                <span class="link-text">
                    <span class="block-on-desktop">Developing an</span>
                    <span class="block-on-desktop">online solution</span>
                </span>
                <%= erb :'svg/next' %>
            </a>
        </li>
        <li class="showcase-item">
            <a href="#" class="link consulting-link">
                <div class="container">
                    <%= erb :'homepage/showcase/gear_four' %>
                    <%= erb :'homepage/showcase/i_phone' %>
                    <%= erb :'homepage/showcase/plug' %>
                    <%= erb :'homepage/showcase/light_bulb' %>
                </div>
                <span class="link-text">
                    <span class="block-on-desktop">Consulting</span>
                    <span class="block-on-desktop">for B2B</span>
                </span>
                <%= erb :'svg/next' %>
            </a>
        </li>
    </ul>

</div>