<div id="videos" class="videos news-menu-content">
    <h2 class="content-title">Videos</h2>
    <%= erb :'news/featured_video' %>

    <h3 class="sub-title">Top Stories</h3>
    <ul id="top-video-stories" class="article-image-list">
        <li class="article-image-link">
            <div class="image-container">
                <h2>
                    <a href="/news/article" class="link overlay">
                        <span class="link-text">Lorem ipsum dolar sit amet dolar sit amet</span>
                    </a>
                </h2>
                <%= erb :'svg/play' %>
                <img class="image" src="/assets/news/video.png" height="375" width="375">
            </div>
        </li>

        <li class="article-image-link">
            <div class="image-container">
                <h2>
                    <a href="/news/article" class="link overlay">
                        <span class="link-text">Lorem ipsum dolar sit amet</span>
                    </a>
                </h2>
                <%= erb :'svg/play' %>
                <img class="image" src="/assets/news/video.png" height="375" width="375">
            </div>
        </li>

        <li class="article-image-link">
            <div class="image-container">
                <h2>
                    <a href="/news/article" class="link overlay">
                        <span class="link-text">Lorem ipsum dolar sit amet</span>
                    </a>
                </h2>
                <%= erb :'svg/play' %>
                <img class="image" src="/assets/news/video.png" height="375" width="375">
            </div>
        </li>
        <li class="article-image-link hidden">
            <div class="image-container">
                <h2>
                    <a href="/news/article" class="link overlay">
                        <span class="link-text">Lorem ipsum dolar sit amet</span>
                    </a>
                </h2>
                <%= erb :'svg/play' %>
                <img class="image" src="/assets/news/video.png" height="375" width="375">
            </div>
        </li>

    </ul>
    <%= erb :'news/load_more_link', :locals => {:target => '#top-video-stories'} %>

    <h3 class="sub-title">Trending videos</h3>
    <ul id="trending-video-stories" class="article-image-list">
        <li class="article-image-link">
            <div class="image-container">
                <h2>
                    <a href="/news/article" class="link overlay">
                        <span class="link-text">Lorem ipsum dolar sit amet</span>
                    </a>
                </h2>
                <%= erb :'svg/play' %>
                <img class="image" src="/assets/news/video.png" height="375" width="375">
            </div>
        </li>
        <li class="article-image-link">
            <div class="image-container">
                <h2>
                    <a href="/news/article" class="link overlay">
                        <span class="link-text">Lorem ipsum dolar sit amet</span>
                    </a>
                </h2>
                <%= erb :'svg/play' %>
                <img class="image" src="/assets/news/video.png" height="375" width="375">
            </div>
        </li>
        <li class="article-image-link">
            <div class="image-container">
                <h2>
                    <a href="/news/article" class="link overlay">
                        <span class="link-text">Lorem ipsum dolar sit amet</span>
                    </a>
                </h2>
                <%= erb :'svg/play' %>
                <img class="image" src="/assets/news/video.png" height="375" width="375">
            </div>
        </li>
    </ul>
    <%= erb :'news/load_more_link', :locals => {:target => '#trending-video-stories'} %>

</div>